

#container {
  width: 90vw;
   
  font-size: 17px;
  font-family: 'Gideon Roman', cursive;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  column-gap: 20px;
  grid-template-areas:
    "A B B"
    "C D D"
    "E F F"
    "G F F"
    "H I I";
}
#container div {
 
  padding: 10px;
}

.img-name {
  grid-area: A;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 
  
}

.summary {
  grid-area: B;
  
  
}

.address {
  grid-area: C;
  
}

.education {
  grid-area: D;
  
}

.education p {
  line-height: 35px;
 }


.contact  {
  grid-area: E;
 
}


.work-experience {
  grid-area: F;
  
}

.language {
  grid-area: G;
  
}

.hobbies {
  grid-area: H;
  
}

.other-skills {
  grid-area: I;
  
  
}

.sidebar {
  text-align: center;
  padding: 20px;
  background-color: rgb(238, 222, 200);
  
  
}

#image {
       
  border-radius: 10px;
}



.line {
  border-bottom: 3px black solid;
  border-top: 3px black solid;
  padding-bottom: 5px;
  padding-top: 5px;

}


.table th, td {
  
  padding: 10px;
  
  
}

.table td {
  line-height: 25px;
}

table   {

  border-collapse: collapse;
  
 }

 .other-skills {
   line-height: 2rem;
 }

 
.bullet ul li {
 
  text-align: justify;
  padding-left: 50px;
  list-style: none
  
}
